/* == Plantilla CSS == */
:root {
    --fuente: 'Outfit', sans-serif;
    --primario: #3b82f6;
    --rojo: #c50000;

    color-scheme: dark;
    --texto: #cbd5e1;
    --textoBtnSelect: var(--primario);
    --textoSecundario: #515457;
    --fondoPagina: #00081b;
    --fondoCarta: #171a1f;
    --bordeCarta: #1e293b;
    --btnActive: #192533;
    --fondoTarea: #2e3035;
    --fondoTareaHover: #24262d;
}

body.light {
    --texto: #141414;
    --textoBtnSelect: #ddecff;
    --textoSecundario: #8d8d8d;
    --fondoPagina: #dce8ff;
    --fondoCarta: #f1f7ff;
    --bordeCarta: #bdd6ff;
    --btnActive: #89c0ff;
    --fondoTarea: #e6edff;
    --fondoTareaHover: #c7d7ff;
    color-scheme: light;
}

*, *::before, *::after {
    padding: 0;
    margin: 0;
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
    font-size: 62.5%; /*1rem = 10px */
    scroll-behavior: smooth;
}

body {
    color: var(--texto);
    font-size: 1.6rem;
    background-color: var(--fondoPagina);
    font-family: var(--fuente);
    color-scheme: dark;
}

button, input {
    font-family: var(--fuente);
    border: none;
}

input[type='checkbox'] {display: none;}

.tema {
    cursor: pointer;
    position: absolute;
    font-size: 2rem;
    top: 0;
    right: 0;
    padding: .3rem;
    border-radius: 25%;
    color: var(--primario);
    background-color: var(--bordeCarta);

    display: grid;
    place-items: center;
}

.contenedor {
    width: min(95%, 55rem);
    margin: 0 auto;
}

.carta {
    margin: 5rem 0;
    padding: 2.5rem;

    border: .5rem solid var(--bordeCarta);
    background-color: var(--fondoCarta);
    border-radius: 1rem;
}

.plantilla {
    display: flex;
    background-color: var(--fondoTarea);
    border-radius: 1rem;
    overflow: hidden;
}

.header {
    position: relative;
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-bottom: 2.5rem;
}

.header h1 {
    line-height: 1;
    font-size: 4rem;
    font-weight: 900;
}

.header h1 span {
    color: var(--primario);
}

.header h2 {
    font-size: 1.6rem;
    font-weight: 700;
}

/* ================ Formulario */
.subtitulo {
    font-weight: 500;
}

.subtitulo span {
    cursor: help;
    font-size: 1.7rem;
    margin-left: .25rem;
    margin-bottom: -.25rem;
    color: var(--textoSecundario);
}

.input {
    margin-top: 1rem;
    position: relative;
}

.input textarea {
    padding-left: 1.5rem;
    border-radius: 1rem;

    height: auto;
    resize: none;
    overflow: hidden;

    border: none;
    outline: none;
    font-family: var(--fuente);
}

.input textarea::placeholder {
    font-family: var(--fuente);
}

.tarea {
    font-size: 1.6rem;
    width: 100%;
    padding: 1.6rem 0;
    background-color: transparent;
}

/* =========================== */


/* ============ Iconos botones */
.boton {
    min-width: 4rem;
    color: var(--primario);
    background-color: transparent;
    cursor: pointer;

    display: grid;
    place-items: center;
}

.hover:hover {
    background-color: var(--fondoTareaHover);
}

.plus {
    font-size: 2.25rem;
}

.basura {
    font-size: 1.75rem;
    color: var(--rojo);

    display: grid;
    place-items: center;
}

.error {
    color: var(--rojo);
    font-size: 1.1rem;
    margin-top: .2rem;
    position: absolute;
    font-weight: 500;
}

.check {
    font-size: 2rem;
    color: var(--primario);
    
    display: grid;
    place-items: center;
}

.editar {
    color: var(--texto);
    opacity: .1;
    font-size: 1.80rem;
}

/* ========================== */

.contenido {
    margin-top: 2.5rem;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    gap: .75rem;
}

.contenido header {
    position: relative;
    display: flex;
    justify-content: space-between;
}

.contenido header p {
    display: grid;
    place-items: center;
}

.contenido .tareas {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.contenido .info {
    text-align: center;
    font-size: 1.8rem;
    margin-top: 2.5rem;
    color: var(--textoSecundario);
}

.selects {
    display: flex;
    gap: .5rem;
}

.flex {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    gap: .2rem;
}

.flex span {
    display: flex;
}

li.flex span {
    margin-right: .5rem;
    color: var(--primario);
    font-size: 1.6rem;
}

.select {
    position: relative;
}

.select-btn {
    cursor: pointer;
    font-size: 1.2rem;
    padding: .5rem;
    background-color: transparent;
    border-radius: .5rem;
    color: var(--textoSecundario);
}

.select-btn:hover {
    background-color: var(--fondoTareaHover);
}

.select.active .select-btn {
    background-color: var(--btnActive);
    color: var(--textoBtnSelect);
}

.select-opciones {
    font-size: 1.4rem;
    display: none;
    position: absolute;
    margin-top: .2rem;
    right: 0;
    padding: .5rem;
    background-color: var(--fondoTareaHover);
    border-radius: .5rem;
    z-index: 100;
}

.select.active .select-opciones {
    display: flex;
    flex-direction: column;
    gap: .25rem;
}

.select-opciones li {
    padding: .75rem 1rem;
    list-style: none;
    border-radius: .5rem;
    cursor: pointer;
    user-select: none;
}

.select-opciones li.active {
    background-color: var(--fondoCarta);
}

.select-opciones li:hover {
    background-color: var(--fondoCarta);
}

.subdrayado {
    text-decoration: line-through;
}

.radius-izq {
    border-top-left-radius: 1rem;
    border-bottom-left-radius: 1rem;
}

.radius-der {
    border-top-right-radius: 1rem;
    border-bottom-right-radius: 1rem;
}